In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dfa = pd.read_csv("2015.csv")
dfb = pd.read_csv("2016.csv")
dfc = pd.read_csv("2017.csv")
dfd = pd.read_csv("2018.csv")
dfe = pd.read_csv("2019.csv")

In [3]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [4]:
dfa.drop("Region", axis = 1, inplace = True)
dfa.drop("Standard Error", axis = 1, inplace = True)
dfa.drop("Dystopia Residual", axis = 1, inplace = True)

In [5]:
dfa["Year"] = 2015

In [6]:
dfa=dfa.rename(columns = {'Economy (GDP per Capita)':'Economy(GDP per Capita)'})

In [7]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Happiness Rank                 158 non-null    int64
 2   Happiness Score                158 non-null    float64
 3   Economy(GDP per Capita)        158 non-null    float64
 4   Family                         158 non-null    float64
 5   Health (Life Expectancy)       158 non-null    float64
 6   Freedom                        158 non-null    float64
 7   Trust (Government Corruption)  158 non-null    float64
 8   Generosity                     158 non-null    float64
 9   Year                           158 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.5+ KB

In [8]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [9]:
dfb.drop("Region", axis = 1, inplace = True)
dfb.drop("Lower Confidence Interval", axis = 1, inplace = True)
dfb.drop("Upper Confidence Interval", axis = 1, inplace = True)
dfb.drop("Dystopia Residual", axis = 1, inplace = True)

In [10]:
dfb["Year"] = 2016

In [11]:
dfb=dfb.rename(columns = {'Economy (GDP per Capita)':'Economy(GDP per Capita)'})

In [12]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Happiness Rank                 157 non-null    int64
 2   Happiness Score                157 non-null    float64
 3   Economy(GDP per Capita)        157 non-null    float64
 4   Family                         157 non-null    float64
 5   Health (Life Expectancy)       157 non-null    float64
 6   Freedom                        157 non-null    float64
 7   Trust (Government Corruption)  157 non-null    float64
 8   Generosity                     157 non-null    float64
 9   Year                           157 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.4+ KB

In [13]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [14]:
dfc.drop("Whisker.high", axis = 1, inplace = True)
dfc.drop("Whisker.low", axis = 1, inplace = True)
dfc.drop("Dystopia.Residual", axis = 1, inplace = True)

In [15]:
dfc["Year"] = 2017

In [16]:
dfc=dfc.rename(columns = {'Economy..GDP.per.Capita.':'Economy(GDP per Capita)'})
dfc=dfc.rename(columns = {'Happiness.Rank':'Happiness Rank'})
dfc=dfc.rename(columns = {'Happiness.Score':'Happiness Score'})
dfc=dfc.rename(columns = {'Health..Life.Expectancy.':'Health (Life Expectancy)'})
dfc=dfc.rename(columns = {'Trust..Government.Corruption.':'Trust (Government Corruption)'})

In [17]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness Rank                 155 non-null    int64
 2   Happiness Score                155 non-null    float64
 3   Economy(GDP per Capita)        155 non-null    float64
 4   Family                         155 non-null    float64
 5   Health (Life Expectancy)       155 non-null    float64
 6   Freedom                        155 non-null    float64
 7   Generosity                     155 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
 9   Year                           155 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.2+ KB

In [18]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [19]:
dfd["Year"] = 2018

In [20]:
dfd=dfd.rename(columns = {'Overall rank':'Happiness Rank'})
dfd=dfd.rename(columns = {'Country or region':'Country'})
dfd=dfd.rename(columns = {'Score':'Happiness Score'})
dfd=dfd.rename(columns = {'GDP per capita':'Economy(GDP per Capita)'})
dfd=dfd.rename(columns = {'Social support':'Family'})
dfd=dfd.rename(columns = {'Healthy life expectancy':'Health (Life Expectancy)'})
dfd=dfd.rename(columns = {'Freedom to make life choices':'Freedom'})
dfd=dfd.rename(columns = {'Perceptions of corruption':'Trust (Government Corruption)'})

In [21]:
dfd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 156 non-null    int64
 1   Country                        156 non-null    object
 2   Happiness Score                156 non-null    float64
 3   Economy(GDP per Capita)        156 non-null    float64
 4   Family                         156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Generosity                     156 non-null    float64
 8   Trust (Government Corruption)  155 non-null    float64
 9   Year                           156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [22]:
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [23]:
dfe["Year"] = 2019

In [24]:
dfe=dfe.rename(columns = {'Overall rank':'Happiness Rank'})
dfe=dfe.rename(columns = {'Country or region':'Country'})
dfe=dfe.rename(columns = {'Score':'Happiness Score'})
dfe=dfe.rename(columns = {'GDP per capita':'Economy(GDP per Capita)'})
dfe=dfe.rename(columns = {'Social support':'Family'})
dfe=dfe.rename(columns = {'Healthy life expectancy':'Health (Life Expectancy)'})
dfe=dfe.rename(columns = {'Freedom to make life choices':'Freedom'})
dfe=dfe.rename(columns = {'Perceptions of corruption':'Trust (Government Corruption)'})

In [25]:
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Happiness Rank                 156 non-null    int64
 1   Country                        156 non-null    object
 2   Happiness Score                156 non-null    float64
 3   Economy(GDP per Capita)        156 non-null    float64
 4   Family                         156 non-null    float64
 5   Health (Life Expectancy)       156 non-null    float64
 6   Freedom                        156 non-null    float64
 7   Generosity                     156 non-null    float64
 8   Trust (Government Corruption)  156 non-null    float64
 9   Year                           156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [26]:
df = pd.concat([dfa,dfb,dfc,dfd,dfe])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        782 non-null    object
 1   Happiness Rank                 782 non-null    int64
 2   Happiness Score                782 non-null    float64
 3   Economy(GDP per Capita)        782 non-null    float64
 4   Family                         782 non-null    float64
 5   Health (Life Expectancy)       782 non-null    float64
 6   Freedom                        782 non-null    float64
 7   Trust (Government Corruption)  781 non-null    float64
 8   Generosity                     782 non-null    float64
 9   Year                           782 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 67.2+ KB

In [28]:
df.Year.value_counts()

2015    158
2016    157
2018    156
2019    156
2017    155
Name: Year, dtype: int64

In [29]:
df.to_csv("Happiness1.csv",index=False)